{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "electron": "2.0.0"
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
