// Naming rule
//  - TODO

// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@card-row-padding: 0.3em 0.5em;

.athena-ide-view-container {
  overflow: auto;
}

.athena-ide-view {
  height: 100%;
  min-width: 45vh;
  overflow: scroll;

  .void {
    background-color: #131621;
    padding: 0.5em;
    width: 100%;
  }

  .foldable {
    width: 100%;
    margin-right: 10px;
  }

  .foldable:last-child {
    margin-right: 0px;
  }

  .foldable-closed > .foldable__contentOuter {
    overflow: hidden !important;
  }

  .foldable-opened > .foldable__contentOuter {
    overflow: unset !important;
  }

  .foldable__trigger {
    display: block;
    position: relative;
  }

  .foldable__trigger:before {
    font-family: 'Octicons Regular';
    font-size: 15px;
    float: left;
    margin-top: 0.1em;
    transition: transform 300ms;
  }

  .foldable__trigger:after {
    font-family: 'Octicons Regular';
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 5px;
    transition: transform 300ms;
  }

  .foldable-trigger-closed:after {
    content: '\f05b';
  }

  .foldable-trigger-opened:after {
    content: '\f0aa';
  }

  .before-foldable-trigger-closed:before {
    content: '\f078';
  }

  .before-foldable-trigger-opened:before {
    content: '\f0a3';
  }

  .card {
    margin: 0.5em;
    height: 100%;
  }

  .inner-card:last-child {
    margin-bottom: 5px;
  }

  .transparent-background {
    background-color: transparent;
  }

  .component-card-row {
    padding: 5px 10px;
    display: flex;
  }

  .component-card-row:last-child {
    padding-bottom: 10px;
  }

  .component-card-row-border {
    border-top: 0.15em solid #4b515c;
    margin: 0px 7px;
    margin-top: 0.9em;
  }

  .component-card-row-top-bar {
    justify-content: flex-end;
  }

  .component-card-row-button-modal {
    justify-content: center;
  }

  .component-card-item {

  }

  .component-title {
    justify-content: center;
    font-weight: bold
  }

  .component-contract-run-title {
    justify-content: center;
    border-bottom: 0.15em solid #1b1d24;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: normal;
  }

  .component-icon {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
  }

  .icon-trashcan {
    margin-left: 0.5em;
    color: #ed612a;
  }

  .component-description {
    min-width: 6em;
    padding: 0.3em 0em;
    height: 100%;
    color: rgba(157, 165, 179, 0.65);
  }

  .argument-row {
    padding: 3px 5px;
    display: flex;
  }

  .argument-row:first-child {
    padding-top: 6px;
  }

  .component-argument-name {
    min-width: 5em;
    padding: 0.3em 0em;
    height: 100%;
    color: rgba(157, 165, 179, 0.65);
  }

  .component-selectbox {
    width: 100%;
    background-color: @input-background-color;
    position: relative;

    // selected & closed view
    .component-selectbox__control {
      display: flex;
      position: relative;
      border: 1px solid #ccc;
      border-radius: 2.5px;
      box-sizing: border-box;
      padding: @card-row-padding;
      transition: all 200ms ease;

      .component-selectbox__placeholder {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .Dropdown-arrow-wrapper {
        width: 1em;
      }

      .component-selectbox__arrow {
        position: absolute;
        right: 6px;
        top: 6px;
        border: solid #999;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3.5px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }

    // items view
    .component-selectbox__menu {
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
      box-sizing: border-box;
      overflow-x: scroll;
      position: absolute;
      width: 100%;
      z-index: 1000;

      .Dropdown-noresults, .Dropdown-option {
        box-sizing: border-box;
        color: rgba(51, 51, 51, 0.8);
        cursor: pointer;
        display: block;
        padding: @card-row-padding;
      }

      .Dropdown-option:last-child {
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      .Dropdown-option:hover {
        background-color: #f2f9fc;
        color: #333;
      }

      .Dropdown-option .is-selected {
        background-color: #f2f9fc;
        color: #333;
      }
    }
  }

  // placed here because of 'is-open' class
  // arrow when open
  .is-open .component-selectbox__arrow {
    top: 10px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .component-selectbox-unit {
    width: 7.5em;
  }

  .component-inputbox {
    width: 100%;
    padding: .25em .4em;
    line-height: 1.5;
    border-radius: 3px;
    border: 1px solid #181a1f;
    background-color: #1b1d23;
  }

  .component-inputbox-argument {
    text-align: right;
  }

  .component-inputbox-number {
    text-align: right;
  }

  .component-inputbox-number::-webkit-outer-spin-button,
  .component-inputbox-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .component-checkbox-label {
    padding-left: 0.3em;
    .component-checkbox {
      width: 13px;
      height: 13px;
      background-color: transparent;
      border-radius: 3px;
      position: relative;
      border: solid 1px rgba(157, 165, 179, 0.65);
      -webkit-appearance: none;

      &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 6.4px;
        height: 2px;
        border-radius: 1px;
        background-color: #282c34;
        transform-origin: 0 0;
        opacity: 0;
        transition: transform 0.1s cubic-bezier(0.5, 0.15, 0.2, 1), opacity 0.1s cubic-bezier(0.5, 0.15, 0.2, 1);
      }

      &:focus {
        outline: 0;
      }

      &:checked {
        background-color: #7741f9;
      }
    }
  }

  .component-textbox {
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    overflow: auto;
    word-wrap: break-word;
    max-height: 8em;
    text-align: right;
    color: rgba(157, 165, 179, 0.65);
    background-color: @input-background-color;
    padding: @card-row-padding;
  }

  .component-textbox-arguments {
    width: ~"calc(100% - 30px)";
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }

  .component-btn {
    border-radius: 3px;
    color: #ffffff;
    background-color: #4e5665;
    padding: 0.35em 0.85em;
    cursor: pointer;
  }

  .component-btn:hover {
    background-color: #788295;
  }

  .component-btn:active {
    background-color: #1f2228;
  }

  .component-btn-disabled {
    background-color: #3a3f4b;
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.5);
  }

  .component-btn-disabled:hover {
    background-color: #3a3f4b;
  }

  .component-btn-green {
    background-color: #00c789;
  }

  .component-btn-green:hover {
    // TODO: add on hover
    background-color: #00c789;
  }

  .component-btn-green:active {
    // TODO: add on active
    background-color: #00c789;
  }

  .component-btn-ocean {
    background-color: #4b4de1;
  }

  .component-btn-ocean:hover {
    background-color: #6c6ee4;
  }

  .component-btn-ocean:active {
    background-color: #363772;
  }

  .component-btn-rightmost {
    background-color: dodgerblue;
  }

  .component-btn-rightmost:hover {
    background-color: #67b1ff;
  }

  .component-btn-rightmost:active {
    background-color: #102a44;
  }

  .component-btn-transaction {
    background-color: #7741f9;
  }

  .component-btn-transaction:hover {
    background-color: #9a67ff;
  }

  .component-btn-transaction:active {
    background-color: #281c44;
  }

  .component-btn-runner {
    width: fit-content;
    padding: 0em 0.5em;
    text-align: center;
  }

  .popup-content {
    // FIXME : remove important
    border: 0em !important;
    padding: 0em !important;
    background: none !important;

    .component-title {
      font-weight: 500;
      text-align: center;
      width: 100%;
    }

    .component-description {
      width: 8em;
    }
  }

  atom-panel.modal {
    max-width: unset;
    background: unset;
    padding: 0.4em;
  }
}

.console-view-root {
  height: 100%;
  display: flex;
  flex-direction: column;

  .top-bar {
    padding: 0em 0.1em;
    flex: 0 0 2em;
    display: flex;
    justify-content: flex-end;
    border-bottom: 0.15em solid #4b515c;
  }

  .top-bar-item {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
  }

  .bottom-bar {
    width: 100%;
    overflow: scroll;
  }

  .log {
    display: flex;
    padding: 0.1em;
  }

  .time {
    flex: 0 0 5em;
    padding-left: 0.3em;
  }

  .message {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;

    &.level-debug {
      color: @text-color-subtle;
    }

    &.level-info {
      color: @text-color;
    }

    &.level-warn {
      color: @text-color-warning;
    }

    &.level-error {
      color: @text-color-error;
    }
  }
}