// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

html {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

input, textarea, select, button, img {
  -webkit-user-drag: none;
}

.draggable {
  -webkit-app-region: drag;
}

.selectable {
  -webkit-user-select: auto;
  cursor: auto;
}

.athena-ide-view-container {
  overflow: auto;
}

.athena-ide-view {
  height: 100%;
  min-width: 45vh;
  overflow: scroll;

  .react-tabs {
    .react-tabs__tab-list {
      display: flex;
      list-style: none;
      margin: 0em;
      padding: 0em;
    }

    .react-tabs__tab {
      width: 100%;
      color: #9da5b3;
      padding: 0.5em 0em;
      text-align: center;
      background-color: #292c35;
    }

    .react-tabs__tab--selected {
      color: white;
      background-color: #131621;
      box-shadow: inset 0 -2px 0 0 #7b87f0;
    }
  }

  .void {
    background-color: #131621;
    padding: 0.5em;
    width: 100%;
  }

  .stars {
    color: white;
    font-size: 9px;
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .stars-row {
    display: table-row;
  }

  .star-cell {
    display: table-cell;
    padding: 0.5em 1.5em;
    white-space: nowrap;
  }

  .star-cell:first-child {
    padding-left: 0.5em;
  }

  .star-cell:last-child {
    padding-right: 0.5em;
  }

  .star-title {
    float: left;
    font-weight: 500;
    padding-right: 3em;
    color: rgba(255, 255, 255, 0.5);
  }

  .star-content {
    font-size: 9px;
    color: white;
    width: 100%;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .star {
    display: flex;
  }

  .foldable {
    width: 100%;
    margin-right: 10px;
  }

  .foldable:last-child {
    margin-right: 0px;
  }

  .foldable-closed > .foldable__contentOuter {
    overflow: hidden !important;
  }

  .foldable-opened > .foldable__contentOuter {
    overflow: unset !important;
  }

  .foldable__trigger {
    display: block;
    position: relative;
  }

  .foldable__trigger:before {
    font-family: 'Octicons Regular';
    font-size: 15px;
    float: left;
    margin-top: 0.1em;
    transition: transform 300ms;
  }

  .foldable__trigger:after {
    font-family: 'Octicons Regular';
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 5px;
    transition: transform 300ms;
  }

  .foldable-trigger-closed:after {
    content: '\f05b';
  }

  .foldable-trigger-opened:after {
    content: '\f0aa';
  }

  .before-foldable-trigger-closed:before {
    content: '\f078';
  }

  .before-foldable-trigger-opened:before {
    content: '\f0a3';
  }

  .card {
    margin: 0.5em;
    height: 100%;
  }

  .contract-run-card {
  }

  .inner-card:last-child {
    margin-bottom: 5px;
  }

  .transparent-background {
    background-color: transparent;
  }

  .card-title {
  }

  .card-row {
    padding: 5px 10px;
    display: flex;
  }

  .card-row:last-child {
    padding-bottom: 10px;
  }

  .card-row-border {
    border-bottom: 0.15em solid #4b515c;
    margin: 0px 7px;
  }

  .card-row-argument {
  }

  .card-row-top-bar, .card-row-argument {
    justify-content: flex-end;
  }

  .card-row-button-modal {
    justify-content: center;
  }

  .component-title {
    justify-content: center;
    font-weight: bold;
  }

  .component-contract-run-title {
    justify-content: center;
    border-bottom: 0.15em solid #1b1d24;
    max-width: 40em;
    text-overflow: ellipsis;
    overflow: auto;
    font-weight: normal;
  }

  .component-icon {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
  }

  .icon-trashcan {
    margin-left: 0.5em;
    color: #ed612a;
  }

  .component-description {
    min-width: 6em;
    padding: 0.3em 0em;
    height: 100%;
    color: rgba(157, 165, 179, 0.65);
  }

  .argument-row {
    padding: 3px 5px;
    display: flex;
  }

  .argument-row:first-child {
    padding-top: 6px;
  }

  .component-argument-name {
    min-width: 5em;
    padding: 0.3em 0em;
    height: 100%;
    color: rgba(157, 165, 179, 0.65);
  }

  .component-selectbox {
    width: 100%;

    .component-selectbox__control {
      background-color: @input-background-color;
      min-height: 0em;
      height: 100%;

      .component-selectbox__value-container {
        padding: 0em;

        .component-selectbox__single-value {
          color: @text-color;
          margin-left: 0.4em;
          margin-right: 0.4em;
        }

        .css-1g6gooi {
          width: 100%;

          .component-selectbox__input {
            color: @text-color;
            width: 100%;

            input {
              width: 100% !important;
            }
          }
        }
      }

      .component-selectbox__indicators {
        .component-selectbox__dropdown-indicator {
          padding: 0em;
        }
      }
    }
  }

  .component-selectbox-unit {
    max-width: 5.5em;
  }

  .component-inputbox {
  }

  .component-inputbox-argument {
    text-align: right;
  }

  .component-inputbox-number {
    text-align: right;
  }

  .component-inputbox-number::-webkit-outer-spin-button,
  .component-inputbox-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .component-textbox {
    width: 100%;
    white-space: pre-wrap;
    overflow: auto;
    word-wrap: break-word;
    max-height: 8em;
    text-align: right;
    color: rgba(157, 165, 179, 0.65);
    background-color: @input-background-color;
    padding: 0.3em 0.5em;
  }

  .component-textbox-no-arguments {
    width: auto;
    text-align: left;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.30);
  }

  .component-textbox-arguments {
    width: auto;
    text-align: left;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.65);
  }

  .component-textbox-amount {
    width: auto;
    text-align: left;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.65);
  }

  .component-btn {
    border-radius: 3px;
    color: #ffffff;
    background-color: #4e5665;
    padding: 0.35em 0.85em;
    cursor: pointer;
  }

  .component-btn:hover {
    background-color: #788295;
  }

  .component-btn:active {
    background-color: #1f2228;
  }

  .component-btn-disabled {
    background-color: #3a3f4b;
    cursor: not-allowed;
  }

  .component-btn-disabled:hover {
    background-color: #3a3f4b;
  }

  .component-btn-top-bar {
    background-color: transparent;
    opacity: 0.65;
    border-radius: 3px;
    border: solid 1px #ffffff;
  }

  .component-btn-top-bar:hover {
    background-color: #494f5d;
  }

  .component-btn-top-bar:active {
    background-color: #1a1d22;
  }

  .component-btn-ocean {
    background-color: #4b4de1;
  }

  .component-btn-ocean:hover {
    background-color: #6c6ee4;
  }

  .component-btn-ocean:active {
    background-color: #363772;
  }

  .component-btn-rightmost {
    background-color: dodgerblue;
  }

  .component-btn-rightmost:hover {
    background-color: #67b1ff;
  }

  .component-btn-rightmost:active {
    background-color: #102a44;
  }

  .component-btn-transaction {
    background-color: #7741f9;
  }

  .component-btn-transaction:hover {
    background-color: #9a67ff;
  }

  .component-btn-transaction:active {
    background-color: #281c44;
  }

  .component-btn-runner {
    width: fit-content;
    padding: 0em 0.5em;
    text-align: center;
  }

  .popup-content {
    // TODO : remove important
    border: 0em !important;
    padding: 0em !important;
    background: none !important;

    .component-title {
      font-weight: 500;
      text-align: center;
      width: 100%;
    }

    .component-description {
      width: 8em;
    }
  }

  atom-panel.modal {
    max-width: unset;
    background: unset;
    padding: 0.4em;
  }
}

#athena-ide-console {
  .view-scroller {
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  .panel-body {
    height: 100%;
    background-color: @inset-panel-background-color;
    cursor: text;
    -webkit-user-select: text;

    &.closed {
      height: 0px !important;
    }

    pre {
      &:empty {
        padding: 0;
      }
      overflow: visible;
    }

    div {
      margin: 0;

      &.level-debug {
        color: @text-color-subtle;
      }

      &.level-info {
        color: @text-color;
      }

      &.level-warn {
        color: @text-color-warning;
      }

      &.level-error {
        color: @text-color-error;
      }
    }
  }
}
